
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px; 
  position: fixed;
  top: 0; 
  left: -250px; 
  background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(74,28,138,1) 21%, rgba(168,53,171,1) 49%, rgba(138,28,87,1) 77%, rgba(0,0,0,1) 100%);
  transition: left 0.3s; 
  box-shadow: 0 0 15px rgba(255, 166, 255, 0.929);
}

.sidebar.open {
  left: 0px; 
}

.sidebar h2 {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #c1b6b6;
  display: block;
  transition: 0.3s;
  
}

.sidebar a:hover {
  color: #f1f1f1;
  transition: 0.2s;
}

.main-content {
  padding: 20px;
  padding-top: 50px;
  transition: margin-left 0.3s; 
}



.main-content.slide button{
  left: 16rem;
}


.main-content button{
  position: fixed;
  left: 0;
  margin-top: -8rem;
  padding: 20px 25px; /* ขยายขนาดปุ่ม */
  font-size: 18px; 
  background-color: #0e010a; 
  color: white; 
  border: none;
  height: 78px;
  /*border-radius: 5px; */
  cursor: pointer; 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  transition: left 0.3s; 
  font-size: 22px;
}

.main-content button:hover {
  background-color: #320a2b; 
  
}



.sidebar .dropdown-menu {
  background-color: #cc9edd; 
  border-radius: 0;
  margin-left: 3rem;
  
}

.sidebar .dropdown-item {
  color: #000; 
  font-size: 20px;
}

.sidebar .dropdown-item:hover {
  background-color: #280429; 
  color: #cc9edd;
}

footer .logo-img {
  width: 155px; 
  height: auto;
  margin-left: 2.5rem;
  margin-top: 6rem;
}
