<footer>
    <div class="footer-container">
        <div class="ourteam">
            <h4>Team project</h4>
            <div class="team-container">
                <div class="col">
                    <div class="row-6">
                        <div class="nameteam">
                            <ul>
                                <li>Chayangkul songmueang </li>
                                <li>Parunyuu julachai </li>
                                <li>Jetnipat yongyuth </li>
                                <li>Noratee instul </li>
                                <li>Watthana waipat </li>
                                <li>Siwakorn hongsuwan</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/images/ToyPaplean logosmall.png" class="logo-img" alt="">
    </div>
        
</footer>

