

<app-navbar/>
<app-sidebar/>
<div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31014.90948141175!2d100.59592059698535!3d13.666051649862215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a00bb218f43d%3A0x30100b25de25070!2z4LmA4LiC4LiV4Lia4Liy4LiH4LiZ4LiyIOC4geC4o-C4uOC4h-C5gOC4l-C4nuC4oeC4q-C4suC4meC4hOC4ow!5e0!3m2!1sth!2sth!4v1726594680587!5m2!1sth!2sth"
        width="100%"
        height="450"
        style="border: 0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
        <div class="social-media">
            <div class="social-item" id="fb">
                  <button><i class="bi bi-facebook"></i> ToyPaPlean</button>       
            </div>
            
            <div class="social-item" id="ig">
                <button><i class="bi bi-instagram"></i> ToyPaPlean_shop</button>
            </div>

            <div class="social-item" id="web">
                <button><i class="bi bi-google"></i> ToyPaPleanshop.com</button>
            </div>

            <div class="social-item" id="tel">
                <button><i class="bi bi-telephone-fill"></i> 099-9999999</button>
            </div>

        </div> 
        <app-footer/>
  
