<app-navbar/>
<app-sidebar/>
<div class="about-us">
    <div class="about-header">
      <h1>About ToyPaplean</h1>
      <p>เพลิดเพลินไปกับโลกแห่งบอร์ดเกมและฟิกเกอร์คุณภาพที่หลากหลาย</p>
    </div>
  
    <div class="about-content">
      <section class="about-story">
        <h2>My story</h2>
        <p>
          ToyPaplean เริ่มต้นขึ้นจากความรักในเกมและของสะสมของผู้ก่อตั้ง ที่ต้องการสร้างสถานที่สำหรับนักเล่นบอร์ดเกม
          และนักสะสมฟิกเกอร์ทุกคนได้มาร่วมกันแบ่งปันความสนุกและความหลงใหลในของเล่นที่เราเลือกสรรมาอย่างดี
        </p>
      </section>
  
      <section class="about-mission">
        <h2>เชิญเพลิดเพลินกับสินค้า</h2>
        <p>
          ที่ ToyPaplean เรามุ่งมั่นที่จะนำเสนอผลิตภัณฑ์บอร์ดเกมและฟิกเกอร์ที่ดีที่สุด
          เพื่อสร้างประสบการณ์ที่ไม่ซ้ำใครให้กับลูกค้าทุกคน
        </p>
      </section>
  
      <section class="about-values">
        <div class="value-container">
          <div class="value-item">
            <div class="icon">
              <i class="fas fa-star"></i>
            </div>
            <div class="value-content">
              <h3>คุณภาพ</h3>
              <p>เราเลือกสินค้าที่มีคุณภาพสูงเพื่อให้ลูกค้าได้รับสินค้าที่ดีที่สุด</p>
            </div>
          </div>
          <div class="value-item">
            <div class="icon">
              <i class="fas fa-heart"></i>
            </div>
            <div class="value-content">
              <h3>เป็นมิตรกับลูกค้า</h3>
              <p>บรรยากาศของร้านเราจะทำให้ทุกคนรู้สึกเป็นกันเองและสบายใจ</p>
            </div>
          </div>
          <div class="value-item">
            <div class="icon">
              <i class="fas fa-handshake"></i>
            </div>
            <div class="value-content">
              <h3>การบริการ</h3>
              <p>เราพร้อมให้บริการและคำแนะนำที่ดีที่สุดเกี่ยวกับสินค้าของเรา</p>
            </div>
          </div>
        </div>
      </section>
      
  
      <section class="about-team">
        <h2>ทีมงานของเรา</h2>
        <p>
          "พวกเราเป็นทีมที่รักในการเล่นบอร์ดเกมและการสะสมฟิกเกอร์ ที่พร้อมจะให้คำแนะนำและแบ่งปันความสนุกไปพร้อมกับคุณ"
          </p>
        <p>"ToyPaPlean พร้อมพาคุณเพลิน"</p>
      </section>
    </div>
  </div>
  <app-footer/>