<!-- <app-navbar />
<app-sidebar />
<h3> Cardgame </h3>
<hr />
<div class="container">

    <div class="row justify-content-center">
        <div class="col-10 ml-auto">
            <div class="card-show">
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://down-th.img.susercontent.com/file/f44499d50de3f6c117775874bb77e29c"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Exploding kitten</h5>
                                <p class="card-text">950 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://down-th.img.susercontent.com/file/th-11134207-7r98u-lxkt2tsm5igg9d"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">UNO classic</h5>
                                <p class="card-text">270 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://down-th.img.susercontent.com/file/625db2f811aa6447d9567c517c91c3bd"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">UNO flip</h5>
                                <p class="card-text">336 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row justify-content-center">
        <div class="col-10 ml-auto">
            <div class="card-show">
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://down-th.img.susercontent.com/file/b68784760e24f6eb9aae83659b2bee92"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Werewolf</h5>
                                <p class="card-text">950 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://m.media-amazon.com/images/I/9152Ik8HZ5L.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Dominion</h5>
                                <p class="card-text">720 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://i5.walmartimages.com/asr/d7b2a298-d057-4f6f-bc58-f6850f72005c.ff08a139761b8cf2a4519089810a6b26.jpeg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">The Resistance: Avalon</h5>
                                <p class="card-text">980 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div> -->


<app-navbar />
<app-sidebar />

<h3>Cardgame</h3>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 ml-auto">
            <div class="Hit-menu-show1">
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    <!-- <div class="col" *ngFor="let game of filteredGames()">
                <div class="card h-100">
                  <img [src]="game.image" class="card-img-top" [alt]="game.name" />
                  <div class="card-body">
                    <h5 class="card-title">
                        <a [routerLink]="['/product-detail', game.product_id]">{{ game.name }}</a>
                      </h5>
                    <p class="card-text">{{ game.price }} ฿</p>
                    <button class="btn btn-primary" (click)="addToCart(game)"routerLink="/cart">
                      เพิ่มในตะกร้า
                    </button> 
                  </div>
                </div>
              </div>
            </div> -->
                    <div class="col" *ngFor="let game of filteredGames()">
                        <div class="card h-100">
                            <img [src]="game.image" class="card-img-top" [alt]="game.name" />
                            <div class="card-body">
                                <h5 class="card-title">{{ game.name }}</h5>
                                <p class="card-text">{{ game.price }} ฿</p>
                                <div class="form-group">
                                    <label for="quantity">Quantity:</label>
                                    <input type="number" [(ngModel)]="game.quantity" min="1" class="form-control"
                                        id="quantity" />
                                </div>
                                <button class="btn btn-primary" (click)="addToCart(game)">
                                    เพิ่มลงตะกร้า
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-secondary mt-3" routerLink="/cart">Go to Cart</a>
            </div>
        </div>
    </div>


    <app-footer />