h3{
    text-align: center;
    color: rgb(167, 255, 3);
}


.container {
    margin-top: 50px; 
    margin-left: 4.5rem;
}

.card {
    transition: transform 0.3s;
    width: 250px; 
    height: 150px; 
    /*background-color: #360c4d; */
    border: 1px solid #231f1f;
    border-radius: 8px;
    overflow: hidden;

}

.card:hover {
    transform: scale(1.05); 
}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
}

.card-text {
    font-size: 16px; 
    color: #c72727; 
}

.card-title {
    transition: all 0.3s;
    cursor: pointer;
    color: #231f1f;
}

.card-title:hover { 
    color: blueviolet;
}


.btn-primary {
    background-color: #8800ff; 
    border-color: #670b73; 
}

.btn-primary:hover {
    background-color: #00b315; 
    border-color: #008535; 
}
.Hit-menu-show1 {
    margin-left: 50px; 
}

/* styles.css หรือไฟล์ CSS ของ component */

.sidebar {
    position: fixed;
    width: 250px; /* กว้างของ sidebar */
    height: 100%; /* ความสูงเต็มที่ */
    background: #fff; /* สีพื้นหลังของ sidebar */
    transform: translateX(-100%); /* ซ่อน sidebar นอกหน้าจอ */
    transition: transform 0.3s ease; /* เวลาในการเคลื่อนที่ */
    z-index: 1000; /* จัดลำดับการแสดงผล */
}

.sidebar.open {
    transform: translateX(0); /* แสดง sidebar */
}

.main-content {
    transition: margin-left 0.3s ease; /* เวลาในการเคลื่อนที่ */
}

.main-content.slide {
    margin-left: 250px; /* ขยับเนื้อหาเมื่อ sidebar เปิด */
}

.navbar {
    transition: margin-left 0.3s ease; /* เวลาในการเคลื่อนที่ */
}

.navbar.slide {
    margin-left: 250px; /* ขยับ navbar เมื่อ sidebar เปิด */
}

