<app-navbar/>
<app-sidebar/>
<h3> Boardgame </h3>
<hr />
<div class="row">
    

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 ml-auto">
            <div class="Hit-menu-show1">
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://i.ebayimg.com/images/g/mJwAAOSwhPNmPgEm/s-l1600.webp"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Monopoly Grab and Go</h5>
                                <p class="card-text">990 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxl_nh_Ry4xquK_0UKd8bCShsqCiIapECIqw&s"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Jumanji the Game</h5>
                                <p class="card-text">800 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://target.scene7.com/is/image/Target/GUEST_1260e5a8-6eb9-4145-97a6-b638dd5f441a?wid=488&hei=488&fmt=pjpeg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Game of Life</h5>
                                <p class="card-text">399 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row justify-content-center">
        <div class="col-10 ml-auto">
            <div class="Hit-menu-show1">
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://down-th.img.susercontent.com/file/f44499d50de3f6c117775874bb77e29c"
                                class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Exploding kitten</h5>
                                <p class="card-text">950 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://down-th.img.susercontent.com/file/th-11134207-7r98u-lxkt2tsm5igg9d"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">UNO classic</h5>
                                <p class="card-text">270 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://down-th.img.susercontent.com/file/625db2f811aa6447d9567c517c91c3bd"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">UNO flip</h5>
                                <p class="card-text">336 ฿</p>
                                <button class="btn btn-primary">เพิ่มในตะกร้า</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <hr />