<app-navbar></app-navbar>

<h3> Boardgame </h3>
<hr />
<div class="row">
    

    </div>
    <div class="col-10">
        <div class=" Hit-menu-show1">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-200">
                        <img src="https://i.ebayimg.com/images/g/mJwAAOSwhPNmPgEm/s-l1600.webp"
                            class="card-img-top" >
                            <hr/>
                        <div class="card-body">
                            <h5 class="card-title">Monopoly Grab and Go</h5>
                            <p class="card-text">990 ฿</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-200">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxl_nh_Ry4xquK_0UKd8bCShsqCiIapECIqw&s"
                            class="card-img-top2" alt="...">
                            <hr/>
                        <div class="card-body">
                            <h5 class="card-title">Jumanji the Game.</h5>
                            <p class="card-text">800 ฿</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-200">
                        <img src="https://target.scene7.com/is/image/Target/GUEST_1260e5a8-6eb9-4145-97a6-b638dd5f441a?wid=488&hei=488&fmt=pjpeg" class="card-img-top3" alt="...">
                        <hr/>
                        <div class="card-body">
                            <h5 class="card-title">Game of life</h5>
                            <p class="card-text"> 399฿</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<hr />


<div class="row">
   

    </div>
    <div class="col-10">
        <div class=" Hit-menu-show2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-200">
                        <img src="https://down-th.img.susercontent.com/file/753f2f0d2dcb4abdb63730587b315d87"
                            class="card-img-top" alt="...">
                            <hr/>
                            <div class="card-body">
                            <h5 class="card-title">Who is it?</h5>
                            <p class="card-text">200฿</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-200">
                        <img src="https://down-th.img.susercontent.com/file/72c337c7b6dfc4847e3baf63419d4d41"
                            class="card-img-top2" alt="...">
                            <hr/>
                            <div class="card-body">
                            <h5 class="card-title">Multi level snake ladder</h5>
                            <p class="card-text">399฿</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-200">
                        <img src="https://m.media-amazon.com/images/I/81fjJu6P-vL._AC_UF1000,1000_QL80_.jpg" class="card-img-top3" alt="...">
                        <hr/>
                        <div class="card-body">
                            <h5 class="card-title">3 in 1 Chess Board Game</h5>
                            <p class="card-text"> (Chess,Backgammon,Checkers)</p>
                                <p class="card-text">590฿ </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
   </div>
    <div class="col-10">
        <div class=" Hit-menu-show2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-200">
                        <img src="https://dracotienda.com/162258-large_default/project-l.jpg"
                            class="card-img-top" alt="...">
                            <hr/>
                        <div class="card-body">
                            <h5 class="card-title">Project L </h5>
                            <p class="card-text">950฿</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-200">
                        <img src="https://i0.wp.com/galainhk.com/wp-content/uploads/2022/11/263442714496_52pgAMaupMkPX5njiC25vMxe0ChJgsjQXf9o9xA9.png?resize=400%2C400&ssl=1"
                            class="card-img-top2" alt="...">
                        <hr/>
                            <div class="card-body">
                            <h5 class="card-title">Cat In The Box </h5>
                            <p class="card-text">940 ฿</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-200">
                        <img src="https://cf.geekdo-images.com/iznbSlKN3UMhYkWLUFpv_A__imagepage/img/aW-7EFkqNH5cBQ_bk8hdRpRpCxc=/fit-in/900x600/filters:no_upscale():strip_icc()/pic7244320.jpg" class="card-img-top3" alt="...">
                        <hr/>
                        <div class="card-body">
                            <h5 class="card-title">Betakkuma : Fart & Furious ตดทะลุนรก</h5>
                            <p class="card-text">590฿ </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <hr/>

 <div class="row">
</div>
 <div class="col-10">
     <div class=" Hit-menu-show2">
         <div class="row row-cols-1 row-cols-md-3 g-4">
             <div class="col">
                 <div class="card h-200">
                     <img src="https://inwfile.com/s-dt/5iwgwa.jpg"
                         class="card-img-top" alt="...">
                         <hr/>
                     <div class="card-body">
                         <h5 class="card-title">V-virus </h5>
                         <p class="card-text">950฿</p>
                     </div>
                 </div>
             </div>
             <div class="col">
                 <div class="card h-200">
                     <img src="https://se.lautapelit.fi/tuotekuvat/1200x1200/2014_implodingkittens.jpg"
                         class="card-img-top2" alt="...">
                     <hr/>
                         <div class="card-body">
                         <h5 class="card-title"> Imploding Kitten </h5>
                         <p class="card-text">650 ฿</p>
                     </div>
                 </div>
             </div>

             <div class="col">
                 <div class="card h-200">
                     <img src="https://metagalaxia.com.br/wp-content/uploads/2022/08/Game-of-Thrones-Board-Game-1.jpg " class="card-img-top3" alt="...">
                     <hr/>
                     <div class="card-body">
                         <h5 class="card-title">Game of Throne (TH) เกมล่าบัลลังก์</h5>
                         <p class="card-text">1,950฿ </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
<hr/>