<h2>Account setting</h2>
<hr/>
<div class="row">
    <div class="col-4" mt-4>
        <b>Edit Profile</b>
        
    </div>
    <div class="col-8">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">First name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Middle name</label>
            <input type="text" class="form-control" id="exampleFormControlInput2">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Last name</label>
            <input type="text" class="form-control" id="exampleFormControlInput3">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Address</label>
            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" row="3" placeholder="1234 Main St"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">Phone</label>
            <input type="number" class="form-control" id="exampleFormControlInput5" placeholder="089-xxx-xxxx">
          </div>
          <button type="button" class="btn btn-primary" mt-3>Save</button>
    </div>

</div>
