<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #e16d08; box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);">
  <div class="container-fluid">
    <img src="/asset/toy Papl.jpg" class="logo-img" alt="">
    <a class="navbar-brand" href="#">ToyPaPlern</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"><i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">เลือกดูของเล่น</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About-us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart"><i class="bi bi-basket-fill"></i> My-cart</a>
        </li>
      </ul>
      <div class="dropdown ms-auto"> 
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i> Account
        </button>
        <ul class="dropdown-menu">
          <li><b class="dropdown-item" href="#" routerLink="/log-in">Log-out</b></li>
          <li><b class="dropdown-item" href="#">seting</b></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

  




<!--class="navbar-toggler": กำหนดให้ปุ่มนี้เป็นปุ่มสำหรับเปิด/ปิดแถบเมนู -->
<!--type="button": ระบุว่าปุ่มนี้เป็นปุ่มประเภท "button">
<!-type="button": ระบุว่าปุ่มนี้เป็นปุ่มประเภท "button">
<!-"button": ระบุว่าปุ่มนี้เป็นปุ่มประเภท "button">

<!-tag directive-->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

