.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .navbar a:hover {
    color: #010100;
    text-shadow: 0 0 10px rgba(255, 215, 0, 1);
  }


  .navbar b{
    color: rgb(23, 4, 4);
  }

  .navbar b:hover {
    color: #ff5500;
    text-shadow: 0 0 10px rgba(255, 215, 0, 1);
  }