
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px; 
  position: fixed;
  top: 0; 
  left: -250px; 
  background: linear-gradient(10deg, rgba(43,5,69,1) 0%, rgba(185,19,170,1) 50%, rgba(105,21,69,1) 100%);
  padding-top: 20px;
  transition: left 0.3s; 
  box-shadow: 0 0 15px rgba(255, 166, 255, 0.929);
}

.sidebar.open {
  left: 0; 
}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #c1b6b6;
  display: block;
  transition: 0.3s;
  
}

.sidebar a:hover {
  color: #f1f1f1;
  transition: 0.2s;
}

.main-content {
  padding: 20px;
  transition: margin-left 0.3s; 
}

.main-content.shifted {
  margin-left: 250px; 
}

.main-content button{
  position: fixed;
  left: 10rem;
  margin-left: 6rem;
  margin-top: -4.6rem;
  padding: 12px 22px; /* ขยายขนาดปุ่ม */
  font-size: 18px; 
  background-color: #0e010a; 
  color: white; 
  border: none;
  height: 53px;
  /*border-radius: 5px; */
  cursor: pointer; 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  
}

.main-content button:hover {
  background-color: #320a2b; 
}

.sidebar .dropdown-menu {
  background-color: #cc9edd; 
  border-radius: 0;
  margin-left: 3rem;
  
}

.sidebar .dropdown-item {
  color: #000; 
  font-size: 20px;
}

.sidebar .dropdown-item:hover {
  background-color: #280429; 
  color: #cc9edd;
}
