
<body id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <a href="#" class="nav__logo">Toypaplean</a>
                </div>
                
                <div class="nav__list">
                    <a href="#" class="nav__link active">

                        <span class="nav__name">Dashboard</span>
                    </a>
                    <a href="#" class="nav__link">

                        <span class="nav__name">Messenger</span>
                    </a>

                    <div class="nav__link collapse">

                        <span class="nav__name">Projects</span>

                            <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">Data</a>
                            <a href="#" class="collapse__sublink">Group</a>
                            <a href="#" class="collapse__sublink">Members</a>
                        </ul>
                    </div>

                    <a href="#" class="nav__link">

                        <span class="nav__name">Analytics</span>
                    </a>
                    <div class="nav__link collapse">

                        <span class="nav__name">Team</span>



                        <ul class="collapse__menu">
                            <a href="#" class="collapse__sublink">Data</a>
                            <a href="#" class="collapse__sublink">Group</a>
                            <a href="#" class="collapse__sublink">Members</a>
                        </ul>
                    </div>
                    <a href="#" class="nav__link">

                        <span class="nav__name">Settings</span>
                    </a>
                </div>
            </div>

            <a href="#" class="nav__link">

                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>
</body>
