<app-sidebar-ownner></app-sidebar-ownner>
<div class="container mt-5">
    <div class="card shadow p-4">
        <div class="card-body">
            <h4 class="card-header mb-4">Add-employee</h4>
            <form>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="employee" class="form-label">Username</label>
                        <input id="employeeuser" type="text" formControlName="employee" class="form-control" />

                    </div>

                    <div class="col-6 mb-3">
                        <label for="employee" class="form-label">password</label>
                        <input id="employeepassword" type="text" formControlName="employee" class="form-control" />

                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="employee" class="form-label">Fristname</label>
                        <input id="employeefrist" type="text" formControlName="employee" class="form-control" />

                    </div>

                    <div class="col-6 mb-3">
                        <label for="employee" class="form-label">Lastname</label>
                        <input id="employeelast" type="text" formControlName="employee" class="form-control" />

                    </div>
                </div>

                <div class="mb-3">
                    <label for="employee" class="form-label">Email</label>
                    <input id="employeemail" type="text" formControlName="employee" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="employee" class="form-label">Phone</label>
                    <input id="employeephone" type="text" formControlName="employee" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">
                    ADD ->
                </button>
            </form>
        </div>
