<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log-in</title>
    <link rel="stylesheet" href="https://use.typekit.net/ill0wwk.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="loginbox">
        <form (ngSubmit)="onSubmit()">
           <h1> Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" 
                required>
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" 
                placeholder="password" required>
                <i class='bx bx-key'></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox">Remember Me</label>
                <a hef="#">Forgot password</a>
            </div>

            <button type="submit" class="btn" [routerLink]="'/home'">Login</button>
            
            <div class="register-link">
            <p> Don't have an acoount ? <a hef="#" routerLink="/register">Register</a></p>
             </div>
         </form>
    </div>
</body>

</html> -->


<div class="container">
    <div class="loginbox">
        <form [formGroup]="loginForm">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" placeholder="Username" formControlName="username">
                <i class='bx bxs-user'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Password" formControlName="password">
                <i class='bx bx-key'></i>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox" formControlName="rememberMe">Remember Me</label>
                <a href="#">Forgot password</a>
            </div>

            <button type="button" (click)="onLogin()" class="btn">Login</button>

            <div class="register-link">
              <p> Don't have an account? <a href="#" routerLink="/register">Register</a></p>
            </div>
        </form>
    </div>
</div>