.card-header {
    background-color: #ff5500;
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 2px solid #ff5500;
}
.card-body {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 3rem;
    
}
.form-label {
    font-weight: bold;
}
.form-control {
    border-radius: 1rem;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 0.5rem;
}
.btn-primary:hover {
    background-color: #0056b3;
}

.container{
    margin-left: 15rem;
    width: 1000px;
}