h2{
    color: rgb(224, 206, 121);
    justify-content: space-between;
    text-align: center;
    padding: 0;

}

h5{
    color: black;
}

p{
    color: black;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 1200px;
    height: 400px;
  }

  .carousel-inner {
    max-width: 900px; 
    max-height: 600px;
  }

/*.carousel-control-prev-icon {
    width: 300px;  
    height: 300px;
    margin-left: 10rem;
}*/

.carousel-indicators{
    margin-top: -15rem;
    margin-bottom: -9rem;
    width: 150px;
    margin-left: 520px;
}

.carousel-item img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
  