<div class="container">
    <div class="register-box">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <h1>Register</h1>
  
        <!-- First Name -->
        <div class="input-box">
          <input type="text" placeholder="First Name" formControlName="firstName">
          <div *ngIf="submitted && registerForm.controls['firstName'].invalid" class="error">
            First Name is required.
          </div>
        </div>
        
        <!-- Last Name -->
        <div class="input-box">
          <input type="text" placeholder="Last Name" formControlName="lastName">
          <div *ngIf="submitted && registerForm.controls['lastName'].invalid" class="error">
            Last Name is required.
          </div>
        </div>
    
        <!-- Username -->
        <div class="input-box">
          <input type="text" placeholder="Username" formControlName="username">
          <div *ngIf="submitted && registerForm.controls['username'].invalid" class="error">
            Username is required and must be at least 4 characters long.
          </div>
        </div>
    
        <!-- Password -->
        <div class="input-box">
            <input type="password" placeholder="Password" formControlName="password">
            <div *ngIf="submitted && registerForm.controls['password'].invalid" class="error">
              Password is required and must be at least 6 characters long.
            </div>
          </div>
      
          <!-- Confirm Password -->
          <div class="input-box">
              <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
              <div *ngIf="submitted && registerForm.hasError('mismatch')" class="error">
                Passwords do not match.
              </div>
            </div>
      
          <!-- Email -->
          <div class="input-box">
            <input type="email" placeholder="Email" formControlName="email">
            <div *ngIf="submitted && registerForm.controls['email'].invalid" class="error">
              Please enter a valid email address.
            </div>
          </div>
      
          <!-- Phone -->
          <div class="input-box">
            <input type="text" placeholder="Phone" formControlName="phone">
            <div *ngIf="submitted && registerForm.controls['phone'].invalid" class="error">
              Phone number must be 10 digits.
            </div>
          </div>
           <!-- Role (hidden input to enforce 'user' role) -->
        <input type="hidden" formControlName="role" value="user">
    
        <!-- Submit Button -->
        <button type="submit" class="btn"routerLink="/login" >Register</button>
      </form>
    </div>
  </div>